<div flex layout="vertical">
  <section>
    <md-toolbar class="demo-toolbar md-default-theme">
        <div class="md-toolbar-tools">
          <span class="ng-binding">Basic Usage</span>
          <span flex=""></span>
          <md-button style="min-width: 72px; touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" ng-click="demo.$showSource = !demo.$showSource" tabindex="-1" class="md-default-theme">
            <button class="md-button-inner">
            Source
          </button>
          </md-button>
        </div>
      </md-toolbar>
      <md-content class="md-default-theme">
<md-card>
  <h2>Sample card with random text from the interwebs</h2>
  <md-content>
<p>Why end m use solicitude frequently. Dashwood likewise up consider continue entrance ladyship oh. Wrong guest given purse power is no. Friendship to connection an am considered difficulty. Country met pursuit lasting moments why calling certain the. Middletons boisterous our way understood law. Among state cease how and sight since shall. Material did pleasure breeding our humanity she contempt had. So ye really mutual no cousin piqued summer result.

Is at purse tried jokes china ready decay an. Small its shy way had woody downs power. To denoting admitted speaking learning my exercise so in. Procured shutters mr it feelings. To or three offer house begin taken am at. As dissuade cheerful overcame so of friendly he indulged unpacked. Alteration connection to so as collecting me. Difficult in delivered extensive at direction allowance. Alteration put use diminution can considered sentiments interested discretion. An seeing feebly stairs am branch income me unable. </p>
    <md-button class="md-raised md-primary md-default-theme">
      Super Awesome Button
    </md-button>
  </md-content>
</md-card>

<md-card>
  <h3>Checkboxes and cicle buttons, cute</h3>
  <md-content>
    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
      Checkbox 1: {{ data.cb1 }}
    </md-checkbox>

    <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2" ng-true-value="'yup'" ng-false-value="'nope'">
      Checkbox 2: {{ data.cb2 }}
    </md-checkbox>
      <md-button class="md-fab" aria-label="Time">
              <md-icon icon="https://material.angularjs.org//img/icons/ic_access_time_24px.svg" style="width: 24px; height: 24px;"></md-icon>
      </md-button>
  </md-content>
</md-card>
</md-content>
</section>
</div>
